<div class="row">
  <div id="dashboard" class="col-md-6 col-md-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1><span class="fa fa-dashboard"></span> Api-Key Dashboard</h1>
      </div>
      <div class="panel-body">
          <% if user_signed_in? %>
              <p><span class="glyphicon glyphicon-envelope"></span> <%= current_user.email %></p>

              <% if current_user.api_key %>
                  <p><span class="fa fa-key"></span> <%= current_user.api_key %></p>
                  <%= link_to 'Delete Api Key', edit_dashboard_path('key'), class: 'btn btn-danger'  %>
              <% else %>
                  <p><span class="fa fa-key"></span> No key registered on <%= current_user.email %></p>
                  <%= link_to 'Generate New Api Key', edit_dashboard_path('key'), class: 'btn btn-success' %>
              <% end %>

            <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'btn btn-success' %>
          <% end %>
      </div>
    </div>
  </div>
</div>